<section class="section">
  <div class="wrapper">
  
    <p>A simple responsive <strong>nav bar</strong> built using flexbox that can act as a starting point to building a more elaborate navigation</p>

    <p>To get started with the nav is very straightforward:</p>

    <ul>
      <li>Decide which parts to include, the nav can have a total of <strong>three parts</strong>:</li>
      <ul>  
        <li><strong>nav__left</strong></li>
        <li><strong>nav__center</strong></li>
        <li><strong>nav__right</strong></li>
      </ul>
      <li>Add <strong>nav__item</strong> divs inside each part as required. Special types include the <strong>nav__logo</strong> and <strong>nav__brand</strong> items</li>
      <li>The <strong>nav__item</strong> can have an active state by using the modifier <strong>nav__item--is-active</strong></li>
    </ul>

    <p>There is <strong>no javascript</strong> included with this nav bar so you can write your own as you wish</p>

    <p>Example code goes here</p>
    
  </div>
</section>