<section class="section">
  <div class="wrapper">
  
    <p>A simple responsive set of <strong>tabs</strong></p>

    <p>To get started with the tabs is very straightforward:</p>

    <ul>
      <li>Create <strong>tabs</strong> container</li>
      <li>Add a <strong>tabs__list</strong> ul element</li>
      <li>Include as many <strong>tab__item</strong>s as required</li>
      <li>The <strong>tab__item</strong>s can have an active state by using the modifier <strong>tab__item--is-active</strong></li>
    </ul>

    <p>Example code goes here</p>
    
  </div>
</section>

<section class="section">
  <div class="wrapper">
  
    <p><strong>Tabs</strong> can be aligned differently using one of <strong>two modifiers</strong>:</p>

    <ul>
      <li><strong>tabs--is-center</strong></li>
      <li><strong>tabs--is-right</strong></li>      
    </ul>

    <p>Example code goes here</p>

    <p><strong>Tabs</strong> can have mulitple <strong>tab__lists</strong> aligned differently using one of <strong>three modifiers</strong>:</p>

    <ul>
      <li><strong>tabs__list--is-left</strong></li>
      <li><strong>tabs__list--is-center</strong></li>
      <li><strong>tabs__list--is-right</strong></li>      
    </ul>

    <p>Example code goes here</p>
    
  </div>
</section>