<div class="header">
  <div class="wrapper">
    <nav class="nav">
      <div class="nav__left">
        <a class="nav__brand"
          ui-sref="app.home">
         Styleguide
        </a>
      </div>
      <div class="nav__center">
        <a class="nav__item" href="#">
          <i class="ion-social-github"></i>
        </a>
      </div>

      <span class="nav__toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav__right">
        <a class="nav__item"
          ui-sref-active="nav__item--active"
          ui-sref="app.home">
          Home
        </a>
        <a class="nav__item"
          ui-sref-active="nav__item--active"
          ui-sref="app.base.headings({ slug: headings })">
          Base
        </a>
        <a class="nav__item"
          ui-sref-active="nav__item--active"
          ui-sref="app.objects">
          Objects
        </a>
        <a class="nav__item"
          ui-sref-active="nav__item--active"
          ui-sref="app.components">
          Components
        </a>
      </div>
    </nav>
  </div>
</div>