.grid {
  // grid properties for all sizes
  margin-top: ($base-spacing-unit * -0.5);
  margin-right: ($base-spacing-unit * -0.5);
  margin-left: ($base-spacing-unit * -0.5);

  &:last-child {
    margin-bottom: ($base-spacing-unit * -0.5);
  }

  &:not(:last-child) {
    margin-bottom: ($base-spacing-unit * 0.5);
  }
  
  // grid--modifiers
  &--is-mobile {
    display: flex;
    flex-direction: row;
  }

  &--is-centered {
    justify-content: center;
  }

  &--is-gapless {
    margin-top: 0;
    margin-right: 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: ($base-spacing-unit);
    }

    & > .grid__item {
      margin: 0;
      padding: 0;
    }
  }

  &--is-vcentered {
    align-items: center;
  }

  &--is-multiline {
    flex-wrap: wrap;
  }
  
  // grid-items styles
  &__item {
    flex: 1;
    padding: ($base-spacing-unit * 0.5);

    &--is-whole {
      flex: none;
      width: 100%;
    }

    &--is-three-quarters {
      flex: none;
      width: 75%;
    }

    &--is-two-thirds {
      flex: none;
      width: 66%;
    }

    &--is-half {
      flex: none;
      width: 50%;
    }

    &--is-one-third {
      flex: none;
      width: 33%;
    }

    &--is-one-quarter {
      flex: none;
      width: 25%;
    }

    &--is-offset-three-quarters {
      margin-left: 75%;
    }

    &--is-offset-two-thirds {
      margin-left: 66%;
    }

    &--is-offset-half {
      margin-left: 50%;
    }

    &--is-offset-one-third {
      margin-left: 33%;
    }

    &--is-offset-one-quarter {
      margin-left: 25%;
    }
  }

  @include mq(map-get($break, s)) {
    display: flex;
    flex-direction: row;
  }
}