.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  margin-bottom: $base-spacing-unit--large;

  &__head {
    flex-shrink: 0;
  }

  &__body {
    flex: 1;
    padding: $base-spacing-unit--large 0;
  }

  &__foot {
    flex-shrink: 0;
  }

  &--is-medium {
    padding-top: $base-spacing-unit * 5;
    padding-bottom: $base-spacing-unit * 5;

  }

  &--is-large {
    padding-top: $base-spacing-unit * 10;
    padding-bottom: $base-spacing-unit * 10;
  }

  // &--is-full {
  //   min-height: 100vh;

  //   .hero-body {
  //     align-items: center;
  //     display: flex;

  //     & > .wrapper {
  //       flex: 1;
  //     }
  //   }
  // }

  @include mq(map-get($break, s)) {
    padding-left: $base-spacing-unit;
    padding-right: $base-spacing-unit;
  } 
}