/*
  Define typography styles for the site
*/

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace !default

$size-1: 48px !default
$size-2: 40px !default
$size-3: 28px !default
$size-4: 24px !default
$size-5: 18px !default
$size-6: 14px !default

$size-7: 11px !default

$weight-normal: 400 !default
$weight-bold: 700 !default
$weight-title-normal: 300 !default
$weight-title-bold: 500 !default