/*
  Define high-level variables for the site
*/

$base-font-family:        $family-sans-serif !default;
$base-font-size:          16px !default;
$base-font-weight:        $weight-normal ! default;
$base-line-height:        ($base-font-size * 1.5) !default;
$base-spacing-unit:       ($base-font-size * 1.5) !default;
$base-text-color:         #333 !default;
$base-background-color:   #fff !default;