/*
  Define typography styles for the site
*/

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace !default

$font-size-1: 48px !default
$font-size-2: 40px !default
$font-size-3: 28px !default
$font-size-4: 24px !default
$font-size-5: 18px !default
$font-size-6: 16px !default
$font-size-7: 12px !default

$weight-normal: 400 !default
$weight-bold: 700 !default
$weight-title-normal: 300 !default
$weight-title-bold: 500 !default