$heading-size-1:  36px !default;
$heading-size-2:  30px !default;
$heading-size-3:  24px !default;
$heading-size-4:  20px !default;
$heading-size-5:  16px !default;
$heading-size-6:  14px !default;

h1 {
  $heading-size-1:  36px !default;
}

h2 {
  $heading-size-2:  30px !default;
}

h3 {
  $heading-size-3:  24px !default;
}

h4 {
  $heading-size-4:  20px !default;
}

h5 {
  $heading-size-5:  16px !default;
}

h6 {
  $heading-size-6:  14px !default;
}