.title {
  font-weight: $weight-title-bold;
  margin-bottom: $base-spacing-unit;
}

.subtitle {
  font-weight: $weight-title-normal;

  &--has-title {
    margin-top: -$base-spacing-unit--small;
  }
}